torch~=2.1.0
torchvision~=0.16.0
google-api-python-client
google-auth-oauthlib
matplotlib~=3.8.0
numpy~=1.26.1
pandas~=2.1.1
scikit-learn
sklearn
torchfm
torchtext==0.6.0
tqdm~=4.66.1
requests~=2.31.0
numba~=0.58.1